#root {
  text-align: center;
}

.App{
  max-width: 60%;
  margin: auto;
  min-width: 320px;
}

.App>div{
  max-width:60%;
  min-width: 320px;
  margin: auto;
}

.lottery .ticketBox{
  max-width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

.lottery button{
  width: 50%;
  max-width: 100%;
}

.finalCard h2{
  white-space: pre-wrap;
}

.site-layout-content{
  background: #fff;
  padding: 24;
}

.aboutUs p{
  font-size: 200%;
  padding: 1em .5em;
}